{% load staticfiles %}
<html>
    <head>
        <title>NEO's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% ststic 'css/blog.css' %}">
    </head>
    <style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
    }

    li {
         float: left;
    }

    li a{
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }

    li a:hover{
        background-color: #111111;
    }
</style>

    <body>
        <center>

         <div>
            <h1 style="background-color:rgba(100,10,10,0.5)" color="violet"> <b>NEO's blog</b> </h1>
        </div>

        <ul>
            <li><a href=""> <b>Connect us:</b> </a></li>
            <li><a href="https://www.facebook.com/keshav.kumarjha.5621" target="_blank" > <b>FACEBOOK</b></a></li>
            <li><a href="https://instagram.com/kumarjhakeshav" target="_blank" > <b>INSTAGRAM</b> </a></li>
            <li><a href="https://github.com/myself-NEO" target="_blank" > <b>GitHub</b> </a></li>
            <li><a href=""> <b>TWITTER</b> </a></li>
            <li><a href=""> <b>LinkedIN</b> </a></li>
        </ul>




        <div>
            <h1 style="background-color:rgba(100,10,10,0.5)" color="violet"> <b>Halo Amigo's!!!</b> </h1>
            <p>published: 19.08.2018, 02:20</p>
            <p>This is the place where you will get<br />
                <b>stories</b>, <b>poems</b> and much more.<br />
            So stay tuned. :)</p>
        </div>

        <hr>

        {% for post in posts %}
        <div>
            <p>published: {{post.published_date}}</p>
            <h1><a href="">{{ post.title}}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
        {% endfor %}

    </center>
</body>
</html>